<script "text/javascript" src="bower_components/underscore/underscore.js"></script>
<script "text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script "text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script "text/javascript" src="bower_components/backbone/backbone.js"></script>
<script "text/javascript" src="bower_components/jQuery-Storage-API/jquery.storageapi.js"></script>
<script "text/javascript" src="bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
<script "text/javascript" src="bower_components/marionette.state/dist/marionette.state.js"></script>
<script "text/javascript" src="bower_components/handlebars/handlebars.js"></script>
<script "text/javascript" src="ajency.marionette.js"></script>
<script "text/javascript">
App = new Marionette.Application
</script>
<script type="text/javascript" src="js/scripts.js"></script>
